<!DOCTYPE html>
<html>
  <head>
    <title>Sign-up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ../partials/signup-info %>
  </head>
  <body>
    <div class="container">
      <h1>KLANGKELLER <%= event.klangkellerID %> Sign-up</h1>
      <form action="/events/saveslot/<%= event._id%>/<%= query.slot %>" method="post">
        <table>
          <tbody>
            <tr>
              <td>Title</td>
              <td><input type="text" name="title" required/></td>
              </tr>
              <tr>
                <td>Description</td>
                <td><input type="text" name="description" required/></td>
              </tr>
              <tr>
                <td>Duration (in minutes)</td>
                <td><input type="number" name="duration" required/></td>
              </tr>
              <tr>
                <td>Contact email</td>
                <td><input type="email" name="contact" required/></td>
              </tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
