<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Event</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h1>KLANGKELLER</h1>
        <h2>Create New Event</h2>
      </div>
      <div class="content">
      <form action="/events/save" method="post" id="event">
        <table>
          <tbody>
            <tr>
              <td>KLANGKELLER ID</td>
              <td><input type="text" name="klangkellerID" required/></td>
            </tr>
            <tr>
              <td>Date (yyyy-mm-dd)</td>
              <td><input type="date" name="date" required value="2017-06-01"/></td>
            </tr>
            <tr>
              <td>Time</td>
              <td><input type="text" name="time" required value="20:00"/></td>
            </tr>
            <tr>
              <td>Venue</td>
              <td>
                <select name="venue" form="event" required value="kino">
                  <option value="kino">Kino</option>
                  <option value="keller">Keller</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Number of slots</td>
              <td><input type="number" name="slotNumber" min="1" max="10" required/></td>
            </tr>
            <tr>
              <td>Main organiser</td>
              <td>
                <select name="contact" form="event" required value="Klaas">
                  <option value="Klaas">Klaas</option>
                  <option value="Mio">Mio</option>
                  <option value="Neo">Neo</option>
                  <option value="Sam">Sam</option>
                </select>
              </td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    </div>
  </body>
</html>
