<html>
<table class="list-table">
<% include ../../public/js/counter %>
<tbody>
  <tr>
    <td>
    <%- include ./events %>
    </td>
  </tr>
  <tr>
    <td>
      <span class="title"><h1>Summer Party Friday 13th & Saturday 14th of July</h1></span>
    </td>
  </tr>
  <tr>
    <td>
    <%- include ./festivalevent %>  
    </td>
  </tr>

</tbody>
</table>
</html>