<html>
<table class="list-table">
<%- include('../partials/counter') %>
<tbody>
  <tr>
    <td>
    <%- include('events') %>
    </td>
  </tr>

  <tr>
    <td>
      <h1>KLANGKELLER SUMMER FESTIVAL 2019</h1>
    </td>
  </tr>

  <tr>
    <td>
    <%- include('festivalevent') %>
    </td>
  </tr>

</tbody>
</table>
</html>