<!DOCTYPE html>
<html>
  <head>
    <title>Sign-up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ../partials/signup-info %>
  </head>
  <body>
    <div class="container">
      
      <h1>KLANGKELLER <%= event.klangkellerID %> Sign-up</h1>
      <% query.signup %>
      <form action="/events/save<%= query.signup %>/<%= event._id%>" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
                <td><input type="text" name="name" required/></td>
                </tr>
              <tr>
                <td>Contact</td>
                <td><input type="email" name="contact" required/></td>
              </tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
