<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign-up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="title">
      <h1>KLANGKELLER <%= event.klangkellerID %> Sign-up</h1>
    </div>
    <div class="about">
      <%- include('../partials/signup-info') %>
    </div>
    <div class="content">
      <% query.signup %>
      <form action="/events/save<%= query.signup %>/<%= event._id%>" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
                <td><input type="text" name="name" required/></td>
                </tr>
              <tr>
                <td>Contact</td>
                <td><input type="email" name="contact" required/></td>
              </tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    </div>
  </body>
</html>
