<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign-up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>Login</h1>
        <p>Login with the credentials sent to you by email, then you will be able to signup for performance, exhibition, documentation and volunteering slots on the home page.</p>
        <form id="event" action="/login" method="post">
          <table>
            <tbody>
              <tr>
                <td>
                  <div>
                    <label for="username">
                      <h3>Username</h3>
                    </label>
                  </div>
                  <input id="username" type="text" name="id" required/>
                </td>
              </tr>
              <tr>
              <td>
                <div>
                  <label for="password">
                    <h3>Password</h3>
                  </label>
                </div>
                <input id="password" type="password" name="password" required/>
              </td>
              </tr>
              <tr>
                <td><%= message %></td>
              </tr>
              <td colspan="2"><button type="submit">Enter</button></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>
