<html>
<div id="about">
<p>YADORIGI is a roaming performance space with an open programing policy, get in touch by email if you want to be involved or come visit one of the events (seasonal clothes recommended).</p>

<p>YADORIGI draws inspiration from the <a href="/events">KLANGKELLER</a>
 series in Berlin.</p>

<img class="about-img" src="/img/yadorigi.png">


</div>
</html>