<div id="about">
<p>KLANGKELLER is a performance and exhibition space for art, music and theory. It works on the basis that experimentation and spontaneity are crucial for a living and reflective art practice to survive. Each KLANGKELLER night has 3 presentation/performance slots (45mins, 15mins and 5mins) which members of the changing KLANGKELLER family can reserve directly 1 month, 1 week or 1 day in advance.</p>
<p>KLANGKELLER events take place at Kastanienallee 77 (Prenzlauerberg, Berlin) in the keller or the kino.</p>
</div>