<div id="about">
<p>KLANGKELLER is a performance and exhibition space for art and music. It works on the basis that experimentation and spontanaity are crucial for a living and reflective art practice to survive. Each KLANGKELLER night has 3 performance slots which members of the changing KLANGKELLER family can reserve directly 1 month, 2 weeks, 1 week and 1 day in advance.</p>
<p>KLANGKELLER events take place at Kastanienallee 77 in the keller and kino. Normally on a Friday at 20:00.</p>
</div>