<html>
  <tr>
    <td>
      <% if(query.admin === "true") { %>
        <a href="/<%= address %>/edit/<%= events[i]._id%>">edit event</a>
        <form action="/<%= address %>/delete/<%= events[i]._id%>" method="post">
          <button type="submit">DELETE</button>
        </form>
      <% } %>
    </td>
  </tr>
</html>