<html>
  <tr>
    <td>
      <% if(query.signup === "true" || query.admin === "true") { %>
        <% if( event.bar.name != undefined) { %>
          ////////////////////////////<br>
          Bar/Door Staff: <%= event.bar.name %>
        <% } else { %>
          ////////////////////////////<br>
          Bar/Door Staff: click to <a href="/events/volunteer/<%= event._id %>">signup</a>
        <% } %>
      <% } %>
    </td>
  </tr>
</html>