<html>
  <tr>
    <td>
      <% if(query.admin === "true") { %>
        <a href="/events/edit/<%= event._id%>">edit event</a>
        <form action="/events/delete/<%= event._id%>" method="post">
          <button type="submit">DELETE</button>
        </form>
      <% } %>
    </td>
  </tr>
</html>