<html>  
    <% if(event.hasExhibit === "false") { %>
        <tr><td></td></tr>
    <% } else if (event.exhibit) { %>    
        <tr>
            <td>
                ////////////////////////////<br>
                <b><%= event.exhibit.title%></b>
            </td>
        </tr>
        <tr>
            <td>
                <%= event.exhibit.description%>
            </td>
        </tr>
    <% } else { %>
        <tr>
            <td>
                ////////////////////////////<br>
                <% if(query.signup === "true" && event.countdown.signupLink === true) { %>
                    Exhibit slot: click to <a href="/events/exhibit/<%= event._id %>">signup</a>
                <% } else { %>
                    Exhibit to be confirmed
                <% } %>
            </td>
        </tr>
    <% } %>
</html>