<html>  
    <tr>
        <td>
          ////////////////////////////<br>
			<% if( event.documentation.name != undefined) { %>
			  Documentation: <%= event.documentation.name %>
			<% } else if (query.signup === "true" || query.admin === "true"){ %>
			  Documentation: click to <a href="/events/documentation/<%= event._id %>">signup</a>
			<% } else { %>
			Documentation: to be confirmed
			<% } %>
		</td>
    </tr>
</html>