<div id="signup-info">
///////////////////////
<p><b>SIGNUP INFO</b></p>
///////////////////////
<p>FACILITIES</p>
<p>Kino: PA, mixer, one SM58 microphone, projector (with HDMI cable), cinema screen<br>
Keller: PA, mixer, one SM58 microphone
</p>
<p>Please assume there is no other equipment available and unless you contact us in advance quite limited time for setup/soundcheck.</p>
///////////////////////
<p>TIMINGS</p>
<p>The program for the night will run in the order you can see on this website (first slot first etc..). Please arrive at the venue at 19:00 so we can plan the evening together. If you need time to setup (more than 15mins) then please contact us in advance to arrange this.</p>
///////////////////////
<p>BAR STAFF</p>
<p>Please sign-up to help out on the bar and door, we'll show you what to do if you've not done it before.</p>
///////////////////////
<p>DOCUMENTATION</p>
<p>We welcome any kind of documentation (text, photo, video, audio, memory, graphics). Please ask permission from the artists if you will be making live recordings.</p>
///////////////////////
<p>MONEY :-p</p>
<p>All performers and documentarians split the door money, bar and door staff split the bar income. It won't be a lot of money, but we will share everything fairly.</p>
</div>
