<span class="title"><b>2016 program</b><br></span>
<!-- 
#001 Laurie Tompkins and Susie Whaites<br>

#002 Richard Scott, Lan Cao, Gregor Siedl and Adam Pultz Melbye<br>

#003 Klaas Hübner, Laurie Tompkins and Susie Whaites<br>

#004 Casey Moir, Gregor Siedl, Samuel Hall and Sam Weaver<br>

#005 Dale Gorefinkel, Peter Farrar, Richard Scott and Julia Reidy<br>

#006 Otto Willberg, Mio Ebisu, Sam Andreae and Rogier Smal<br>

#007 Julia Reidy, Laura Weber, Adam Pultz Melbye, Sam Andreae, Shasta Ellenbogen and Klaas Huebner<br>

#008 Alexander Frangenheim, Niklas Fite, Sam Andreae, Vilhelm Bromander and IGNITE<br>

#009 Andreas Dzialocha, Sam Andreae, NOR, Lan Cao<br>

#010 Kelly Jayne Jones, Laura Weber, Christopher Jakobi, Mio Ebisu, Malte Kobel and Niklas Fite<br> -->
