<html>
<img class="docu-image" src="/documentation/014/014_01.JPG">
<img class="docu-image" src="/documentation/014/014_2.JPG">
<img class="docu-image" src="/documentation/014/014_3.JPG">
<img class="docu-image" src="/documentation/014/014_4.JPG">

<div class="docu-text">
<h2>conversation following the viewing of 3 Ultra-red instructional videos</h2>

<p>recorded by Neo, transcribed by Sam</p>

<i>
<p>&hellip;&hellip;</p>

<p>I was wondering about the results. Like what did they find out, for example?</p>

<p>I found it horrible.</p>

<p>I get claustrophobic feelings when I listen to this, I can not relate to this at all, I find it complete academic bullshit and I think you know some people who voted maybe for Trump voted for him because they think there is this kind of upper elite who&#39;s having their kind of discourse about things that have nothing to do with the life of people. I don&#39;t think there is any new kind of social practice developing out a academic analytic thing that they do. They think something is gunna grow out of this? I mean for me, it&#39;s horrible.</p>

<p>I second that, but I think it&#39;s worse than that, because I think it&#39;s actually, what I think is interesting about it is how is how, what a physical reaction one has to how hideous those presentations are, because they adopt the corporate manner while pretending to be about some struggle completely absorbed by the worst office aesthetic there is. I mean hideous. It makes me come out in palpitations of sweat that I&#39;m working in some sort of hideous room like that. Anonymous, de-aesthetisized to the point of, like, there&#39;s no character, no personality. I can only hope, that they are intelligent enough to know that that is the response and that this is some kind of joke.</p>

<p>I found these quite funny, like, watching these, I think they had to be very funny.</p>

<p>It must be a joke.</p>

<p>It must be a joke.</p>

<p>But, I mean, they&#39;re made in this very corporate way, and like super educational way, I can&#39;t imagine it isn&#39;t a joke. I mean even the voices, an English guy isn&#39;t it? I&#39;m pretty sure they&#39;re not English, so it&#39;s that very educational teacherly voice.</p>

<p>It sounds very very very very important, it&#39;s like very banal, but they make it like .. bla bla bla.. it sounds very serious, but you wonder what&#39;s so serious. Why not talk like human beeings, like say what we do. It&#39;s funny yeh, it&#39;s strange.</p>

<p>I guess these three videos, they are like are educational videos, so I imagine they&#39;re, they would, I dunno, if it&#39;s serious then they would think that they could, people could watch this&hellip;. and then you know, if they were interested in doing something like this&hellip;..</p>

<p>I mean there was a point where I was thinking that it cannot be serious.</p>

<p>It can&#39;t be serious.</p>

<p>What they do is, they this this seriously, the thing they&#39;re describing.</p>

<p>And they do this for years.</p>

<p>They&#39;ve done it for 20 years. But I dunno if this video is..</p>

<p>I think it just doesn&#39;t sound like fun when they talk about it, but if you are like ok we want to do this, then you could always stop and repeat and stop and repeat it&#39;s just like, it&#39;s just like, and I think what they do, the text I was reading it before, I think the person who is talking is just reading down the text, so but it doesn&#39;t make interest to do this method, but I was reading the text before and I was like, wow, that&#39;s a really cool method, to combine community exchange and&hellip; listening and make a method and then just spread it, and it&#39;s like really easy, if somebody would moderate this method and do a workshop it could be like really fun, but like listening to this, I can agree to what you said, it&#39;s like really dry and not fun, and it&#39;s really boring.</p>

<p>And it&#39;s made for certain people with certain education and who are able to understand this language, which is also very problematic.</p>

<p>But there&#39;s not so much to understand.</p>

<p>There&#39;s not much to understand.</p>

<p>But maybe, I was asking, did I understand them right? What is this actually about. Because the basis, or the basic idea, this thing of coming together to listening to a recording and talking about what we hear is a super nice thing, it&#39;s a community building element and it&#39;s great.</p>

<p>So I was wondering, what is that actually, is it a joke, is it ironic, or what&hellip;</p>

<p>I sort of feel, I don&#39;t know, I think they might be, and they might have done it badly, but I think they might be, cos I think they&#39;re an art group, they see themselves, they&#39;re in that art context, but their practices as they describe it are based in communities, so i think they&#39;re, it feels like they&#39;re somehow making an effort, if it&#39;s misguided or not, or like badly done, kind of communicate these methods really simply, in a way that somebody could apply it who is not from an art context, and apply these like, cos there are a lot of listening practice, and apply them in a more social work or more, cos I think it&#39;s similar things, if you went to an alcoholics anonymous meeting, they would be talking about almost the same stuff, like listening and respecting, giving space and giving time, and then ultra-red as a group are talking about the same things in a contemporary art context, they&#39;re probably very self-aware of that, like ahh, we&#39;re actually just a bunch of artists talking about working with activists and calling this bullshit militant listening, I would hope they&#39;re very self conscious of that. Maybe this is them, you know, this is probably one project they did, maybe this is like an educational pedagogical thing. If that makes it better or worse, I dunno.</p>

<p>But I think listening for example to a concert like the one we just listened to before Is much more educational than this. I mean, you can be totally uneducated but if you take the time to listen to someone playing on stage, you also learn alot, about silence ablout time, you maybe hear the room differently you hear your neighbours differently, you hear the environment. I mean all these things we already know because we listen to weird music and improvised music and sounds, I think this is, even for people with no education, I mean all people are sensitive, I mean even the people we think they are the most stupid, they are not so stupid, there are things everyone understands immediately. Like kids also understand a lot of things, they will get it, they don&#39;t need a talk like that. </p>

<p>But this has been very helpful, I mean what&#39;s interesting, are you sure that this isn&#39;t, a double bluff, in that this is the thing that they&#39;re basically provoking, so that we a basically, we&#39;ve listened to something, something very deadening,  and it&#39;s completely provoked us to have, like a proper discussion, hoe often do you have a discussion with strangers, that&#39;s wuite rare.</p>

<p>But what nobody is talking about is like actually what they talk about, like this method is really simple and easy and kind of cool, the way they present it might be like boring and academic and be like &ldquo;ahhh, we didn&#39;t wanna listen to this for this 15 minutes&rdquo;. But actually what they are talking about is like really cool, it&#39;s a method where everyone is practically doing something, making a question, and it&#39;s like really simple, you know. And then you go somewhere and you do something and then you come together again, you could make this really fun, because for me it&#39;s interesting becaouse I think there is not so much community building in Germany, and in California there is more talk about community, in Berlin there is like some movements, but there is no community building or community talking, people don&#39;t really talk openly about politics and stuff, and so this is why I think this is like really cool because also I always feel like Germans are often a lot about rules and technic and stuff and so this could actually work for German quite well, like having some how can we talk to each other, like&hellip;</p>

<p>My one problm, I mean I agree the aim is really laudable and nice, but I do think there are political problems to what they&#39;re saying there as well though, I mean this idea of the community, it&#39;s just like 19th Century talk of &ldquo;the masses&rdquo;, it&#39;s quite problematic I think for me to talk about the community as if we&#39;re not part of it, we&#39;re above it, and we&#39;re holding out our hand to the sort of..</p>

<p>But they&#39;re not saying community, they&#39;re saying communities plural, that&#39;s something very different.</p>

<p>I just think that, in there terminology, community is something holy and pure, a bit like the %&amp;%&amp;% went out to the masses to bathe themselves in glory at how good they were at giving charity. And in a way there is sort of a problem when you don&#39;t situate yourself in the world, and you sort of think of yourself as the savior of these communities that need help in some way that are always homogenized, I mean the idea that they&#39;re all struggling against oppression, some of them are, some of them might want to talk about things that we wouldn&#39;t want to talk about, Brexit&hellip; That&#39;s a community issue that would be really radical to talk about, right..</p>

<p>Nah, I think it wouldn&#39;t be radical to talk about this.</p>

<p>All I&#39;m saying is that if you really go into the community you&#39;ll find very unpleasant things, and they&#39;re not sort of addressing this, they&#39;re just addressing it from one point of view, so politically I think it&#39;s very&hellip;. it&#39;s very introverted and problematic.</p>

<p>But you say from one point of view, but what do you mean by one point of view?</p>

<p>What I mean is that I don&#39;t think they understand the multiplicity of voices within communities, that we are part of communities ourselves, we are not above community, the terminology is very&hellip; &ldquo;we&rdquo; go &ldquo;us better people who know stuff&rdquo; go down to these people who are in communities and need help, I find that very problematic, it must be, we need to be on the same plane as everyone.</p>

<p>But I didn&#39;t understand it like that.</p>

<p>No I didn&#39;t get that from this, I get your problem with this..</p>

<p>I understand it more like we become a group that tries to find something out in society, whatever it is, and we become this community of people who have big ears and try to listen. That&#39;s how I understood it about the community.</p>

<p>I had the idea that this is something that people picked up from social movements and they made it into this which looks like there is somebody coming away from the community and looking from above, but actually more for me it&#39;s more a documentary of tools that are probably already used from people like listening and then writing down and then listening again&hellip;</p>

<p>&hellip;..silence&hellip;.</p>

<p>I don&#39;t know if this goes to far away from what we actually discuss, but you mentioned this thing about community in the States, and this term about communities, and you compared it to the what is happening in Germany. And what I realized visiting the states several times and being at places like Detroit or New Orleans, I realized that our system here in Germany, I mean there are problems here as well, but our system works quite well. And these place where disasters happened, like Katrina in new Orleans 2005 or Detroit where a lot of people leave the city, they had no electricity grid for a while, no water supply, a lot of violence, community means something completely different, they really needed each other, our state system really catches a lot of things, and it&#39;s kind of working well, our social system. So I never understood what do these Americans mean when they say community, but then after a while I understood, they really talk about their neighborhood and the people, because they really help each other, they have little organizations to make things work, because if you don&#39;t have the police you need to watch out for your neighbor, if there is a lot of violence. And these problems we don&#39;t have here. Or if you don&#39;t have a health insurance, you need to know someone who could maybe treat you for small money, or who is helping musicians in need who don&#39;t have health insurance, so all this is what they mean when they talk about community, and we don&#39;t have it because our health insurance works so well.</p>

<p>I think that&#39;s one thing, but there is also something else about Germans not looking after one another, but thank you for saying these things.</p>

<p>Yeh, but I was astonished by this idea, I maybe it&#39;s not true, it&#39;s funny, but because we have some system that takes care of us, which means we don&#39;t need to take care of each other, because our system takes care. It was the first time that I really though, ah, there is also something negative in this, cos actually I don&#39;t care. These unemployed guys, they are always anonymous, these guys who don&#39;t have a job because maybe they are lazy, or they don&#39;t know how to fit in or something. But if you think as a community and you try to help each other and you see real persons, like your neighbour or something, I don&#39;t know if I can really make a statement about the whole States, but this is what I had understood, that maybe there is really a difference, and people really help each other&hellip; and I was like wow, that&#39;s really crazy &hellip;(laughter)&hellip; we don&#39;t do this! </p>

<p>&hellip;.silence&hellip;.</p>

<p>Well, but as I said, maybe it&#39;s a bit too far from the topic.</p>

<p>&hellip;silence&hellip;</p>

<p>Yeh, I think it&#39;s a big chapter about this communities, because there might be micro communities and other micro communities, communities that we are not aware of in Germany as well.</p>

<p>&hellip;silence&hellip;.</p>

<p>I guess, regardless of how&hellip; terrible these videos were&hellip;laughter&hellip;.the like, the practice they&#39;re describing, and  I&#39;ve read some stuff as well, so maybe I&#39;m thinking of it from my understanding of the reading not just the videos, I could imagine the practice they&#39;re describing being really rewarding and.. I like how they describe things really clearly, I think that is quite friendly, or like enabling in a way, like ok we don&#39;t have to conceptualize this thing as a group, we can just follow these, like a composition you know, we can follow the instructions&hellip; I think they said something like, listening in these non-judgmental ways, I think that&#39;s a lot what, as musicians or sound artists, you might do as well, but then to have that same practice, but to be explicitly about communicating your ideas, not making music, but communicating with each other, I think that.. could be effective, like that could be powerful. I think that&#39;s what they&#39;re describing, there are loads of other methods and stuff, but like maybe we&#39;re not all alcoholics and we don&#39;t need to go to alcoholics anonymous, but we are maybe artists and stuff&hellip; but I did, I struggled to think of what sort of question would I want to pose, you know they say there is a question for the group you&#39;re in, then I got stuck, where would I wanna do this and who with and what would it be, then I was not sure, that was also quite interesting.</p>

<p>&hellip;long silence&hellip;</p>

<p>I hear the fridge.</p>

<p>yeh.</p>

<p>(laughter)</p>

<p>&hellip;long silence&hellip;</p>

<p>Wer bist du eigentlich?</p>

<p>Ich bin?</p>

<p>&amp;%$&amp;%$</p>

<p>&hellip;</p>

<p>&hellip;</p>

<p>This is my father by the way.</p>

<p>Ahh, I was wondering because you are looking a bit similar, are they related.</p>

<p>&hellip;laughter&hellip;</p>

<p>But in a way for me, I didn&#39;t get anything from the videos, I don&#39;t know why, perhaps I was still occupied with before, but could someone summarize for me what (lot&#39;s of laughter).</p>

<p>That&#39;s what I thought, I think you can summarizer, not the whole thing, but the important thing, in one or two minutes&hellip; and that was 15 minutes, and that was to me strange, it felt very cold, very frozen in the brain.</p>

<p>I mean, I studied art, and I am not very academic, but I&#39;ve been in the academy, and there is these kind of talks, I wouldn&#39;t be surprised if they mean it.</p>

<p>Yeh yeh, I know, from the architecture some&hellip; </p>

<p>It wasn&#39;t very academic, it wasn&#39;t academic enough, it wasn&#39;t at all academic. It was patronizing. People on the street record things all the time. I mean the idea that we have to teach people. You know, &ldquo;this is a recorder&rdquo; ok, listen, you know I just find that..</p>

<p>No but the way they present it, the way they speak that seems very academic.</p>

<p>Yeh, I think the idea was to get closer to an issue, that&#39;s, let find a way to talk about for example, let&#39;s talk about discrimination against people in wheelchairs, and lets try to find a way to talk about this, as you said, it&#39;s summarizing. And so, I think they made up a way to discuss about something, and then people can make a sound outside, instead of sounds, and then you know, talk about is it. How is it for people sitting in a wheelchair, and how is it for people not sitting in a wheelchair, then making up different social differences, how do people see it from different perspectives, then recalling this, then again talking about this, analyze it, then&hellip;</p>

<p>Why is it that we always have the feeling like if we do something in this way it will be more worthful..</p>

<p>Maybe it will be fun.</p>

<p>It doesn&#39;t sound like fun..</p>

<p>But it is just the video that is not fun.</p>

<p>Sometimes we have this kind of very complicated way, and then you meet someone who is maybe a very simple person, and he will give you a hug and say lets go for a swim. And this will help you much more. You know. I mean, being there, like what they say, for them it&#39;s theory, but I wonder if they are actually doing what they are thinking that they do.</p>

<p>Yeh, they really are.</p>

<p>Some people do that much more without losing a lot of words about it, they just do it very natural.</p>

<p>But you can do that very natural too, it&#39;s like going to swim is like going for a recording session. </p>

<p>Yeh, I mean this was now a stupid example, but I just wanted to say something very simple, some people over complicate very simple things, in the academic world that happens very very often, I don&#39;t want to say the academy is not necessary, or everything that happens there is stupid, I don&#39;t want to say that. Something there is a lot of discourse that is much ado about nothing, you could cut it very sort, and it&#39;s ok.</p>

<p>But I think academics who academically talk about gentrification would be something different than, let&#39;s make a workshop where we talk and make sounds and stuff, and if somebody would be leading this you wouldn&#39;t have to think about the method, but maybe this could also be like making fun of academic, because, the way it&#39;s taught and it&#39;s really boring and stuff, I think there is a lot in this. But there is like one, the video, and there is the other thing, actually a workshop where this could be really practical. But also maybe it&#39;s like the ironic part of all of this, the video is just like&hellip;</p>

<p>I mean it&#39;s called militant listening, and the whole video was like a training video for soldiers.</p>

<p>But it didn&#39;t seem militant, I don&#39;t see the connection, or the meaning of militant in that context.</p>

<p>I think it was so cold and neutral and clear somehow, like you would imagine an educational video from the military to teach you how to use&hellip; an object from the military.</p>

<p>Or how to fix a mechanic you don&#39;t know anything about. How to fix this.</p>

<p>But, for understanding, the things was just they went out to record sounds, and then they listened together and then they talked about it. </p>

<p>I think so, they made sound recordings from their environment, before they had a certain question, like &ldquo;how does anti-racism sound&rdquo;, &ldquo;how does democracy sound&rdquo;, and then they were discussing the results, like listening to the recordings together and were writing down things and were analyzing these things, but I was wondering what came out of this?</p>

<p>What was happening with the cutting and putting together?? They cut the sound files?</p>

<p>That part I didn&#39;t gt at all.</p>

<p>I don&#39;t know the answers to any of these questions.. I have no affiliation with this group.</p>

<p>I mean the irony is, I was working at the Serpentine Gallery when they did a project there..</p>

<p>Oh you know them!!</p>

<p>(laughter)</p>

<p>I know them, yeh yeh, I realized halfway through, oh Ultra-red that really rings a bell.</p>

<p>You were so bored you forgot about it.</p>

<p>(lot&#39;s of laughter)</p>

<p>But I think there is, I mean what&#39;s interesting about that, you know there is thinking cynically and structurally about, why is there room for this? I mean it is quite basic, and there are other models, much more humane models, ground up models, like AA, community groups, obviously I mean they don&#39;t have listening component, academical listening component, but it wouldn&#39;t take that much to adapt it without going full bore-fest, and I think the reason they go so full on, like this is serious, is because they have funding models, and you know galleries, galleries, especially private galleries that get a lot of corporate funding basically need the community, this special holy group of people, to basically confer kind of legitimacy onto the fact that they&#39;re getting lots and lots of corporate money, Arab money, oil money, terrible money from all over the world, 90%, and then they get in these guys and they whitewash the whole thing and it&#39;s like &ldquo;it&#39;s fine, it&#39;s fine, look we do this thing with &hellip;..&rdquo; and so they have to become corporate and they&#39;re just as bad as the things that they&#39;re trying to undermine through listening. Which they&#39;re clearly not going to undermine just through listening. So I think there&#39;s a marketing side, it&#39; slightly rancid actually.</p>

<p>I mean, maybe I don&#39;t know how much in the music world, but in the art world you have to do something like this to be taken seriously. You could do a great project, but if you don&#39;t have a good text for it then no one will look at it seriously. So it is a kind of marketing.</p>

<p>It could also be like nobody is listening to it anyway so let&#39;s make a joke of it and make it really boring because nobody is gunna make anything with this anyway, or they just paid somebody to read it and then it was really bad but then they just took it this way, and somebody else who would have talked about it, like made the voice in this video, could have made it really interesting for us and then we would have though, oh  that&#39;s something really radical and cool.</p>

<p>&hellip;&hellip;.</p>
</i>
</div>


</html>