.title {
  font-size: 1.5em;
}

#about, #signup-info {
  font-size: 0.9em;
  position: inline-block;
}

.about {
  margin: 10px;
}

.content {
  margin: 10px;
}

@media only screen and (min-width: 600px) {
  #about, #signup-info {
    font-size: 0.9em;
  }

  .title {
    width: 45vw;
  }

  .about {
    width: 25vw;
    position: absolute;
    right: 0px;
    top:10px;
    margin: 10px;
  }

  .content {
    width: 30vw;
    margin: 10px;
  }
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}

.countdown-message {
  color: red;
  opacity: 0;
  animation: blinking 1s linear infinite;
}

@keyframes blinking {
  from,
  30% {
    opacity: 0;
  }
  30.1%,
  to {
    opacity: 1;
  }
}

button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}