<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Event</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <% include ../partials/title %>        
      <h2>Create New Event</h2>
      <div class="content">
      <form action="/yadorigi/save" method="post" id="event">
        <table>
          <tbody>
            <tr>
              <td>Event Name/No.</td>
              <td><input type="text" name="klangkellerID" required/></td>
            </tr>
            <tr>
              <td>
                <input type="hidden" name="isRoaming" form="event" required value="true"></input>
              </td>
            </tr>
            <tr>
              <td>Date (yyyy-mm-dd)</td>
              <td><input type="string" name="date" required value="2017-06-01"/></td>
            </tr>
            <tr>
              <td>Time</td>
              <td><input type="text" name="time" required value="20:00"/></td>
            </tr>
            <tr>
              <td>Number of Slots</td>
              <td>
                <select type="number" name="slotNumber" form="event" required value="1">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Location</td>
              <td>
                <tr>
                  <td>GPS address</td>
                  <td><input type="string" name="venue" required/></td>
                </tr>
              </td>
            </tr>
            <tr>
              <td>
                <input name="contact" type="hidden" form="event" required value="contact@klangkeller.net">
                </input>
              </td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    </div>
  </body>
</html>
