<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KLANGKELLER</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
     integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
     crossorigin=""/>    
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
    <script type="text/javascript" src="/js/counter.js"></script>

  </head>
  <body>
    <div class="container">
    <% include ../partials/title %>
      <div class="about">
      <% if(query.signup === "true") { %>
        <% include ../partials/about-roaming-signup %>
      <% } else { %>
        <% include ../partials/about-roaming %>
      <% } %>
    </div>
    <div class="content">
      <% include ./list_roaming %>
      <% if(query.admin === "true") { %>
        <a href="/roaming/create">Create Event</a>
      <% } %>
    </div>
    </div>
  </body>
</html>
